In [1]:
import numpy as np
import statsmodels.api as smf
import pandas as pd

In [12]:
df = pd.read_csv('../data/fake_fraud_data.csv',index_col=0)
df

,age,years_in_labour_force,years_of_further_education,miles_resided_from_coast,committed
person_id,,,,,
0,31.549801,22.863865,1.526894,60.322434,1
1,44.974497,20.850711,3.316780,85.584740,1
2,30.506782,17.866273,2.424746,1.454237,0
3,33.713799,21.387124,8.267521,18.970903,1
4,15.384827,4.620059,6.624168,59.378356,0
...,...,...,...,...,...
295,29.020934,12.887100,4.712310,46.782826,0
296,49.655654,27.325442,6.484461,33.086931,1
297,41.735828,24.303544,1.539056,11.906828,0
298,45.146590,20.592909,7.882194,87.693916,0
299,29.696551,22.512192,5.381957,72.049672,0

In [13]:

from sklearn.model_selection import train_test_split

train, test = train_test_split(df, random_state=42, test_size=0.1)
train

,age,years_in_labour_force,years_of_further_education,miles_resided_from_coast,committed
person_id,,,,,
17,15.604561,9.734559,7.364843,11.686870,0
164,30.837610,17.667446,3.715552,66.236411,1
33,38.016898,19.355109,2.784716,94.552245,1
24,36.615290,17.372151,4.476423,66.829635,0
215,39.930639,26.275358,6.816621,33.151307,1
...,...,...,...,...,...
188,35.107312,17.080608,4.866817,86.048146,0
71,42.621447,25.734759,4.679771,22.454745,1
106,30.303950,21.558561,7.906879,76.106705,0
270,21.661286,19.679729,5.898408,75.783563,0
102,47.268082,17.997970,5.036962,24.184829,0

In [14]:
train.to_csv('../data/training.csv')
test.to_csv('../data/testing.csv')

In [5]:
train.corr()

,age,years_in_labour_force,years_of_further_education,miles_resided_from_coast,committed
age,1.000000,0.749000,-0.052243,-0.076286,0.269719
years_in_labour_force,0.749000,1.000000,-0.047251,0.009583,0.232822
years_of_further_education,-0.052243,-0.047251,1.000000,0.000557,-0.154313
miles_resided_from_coast,-0.076286,0.009583,0.000557,1.000000,-0.096804
committed,0.269719,0.232822,-0.154313,-0.096804,1.000000

In [11]:
train[['age','years_in_labour_force']].corr().iloc[0:1]

     age  years_in_labour_force
age  1.0                  0.749

In [12]:
import statsmodels.formula.api as smf
import statsmodels.api as sm

mod = smf.ols(formula='years_in_labour_force ~ age', data=train)
res = mod.fit()
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                              OLS Regression Results
=================================================================================
Dep. Variable:     years_in_labour_force   R-squared:                       0.561
Model:                               OLS   Adj. R-squared:                  0.559
Method:                    Least Squares   F-statistic:                     342.5
Date:                   Tue, 11 Jul 2023   Prob (F-statistic):           7.98e-50
Time:                           08:21:12   Log-Likelihood:                -698.63
No. Observations:                    270   AIC:                             1401.
Df Residuals:                        268   BIC:                             1408.
Df Model:                              1
Covariance Type:               nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      5.0470      0.820      6.159      0.000       3.434       6.660
age            0.3713      0.020     18.506      0.000       0.332       0.411
==============================================================================
Omnibus:                        0.324   Durbin-Watson:                   2.004
Prob(Omnibus):                  0.850   Jarque-Bera (JB):                0.243
Skew:                           0.073   Prob(JB):                        0.886
Kurtosis:                       3.017   Cond. No.                         170.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [18]:
res.summary().tables[0]

[<statsmodels.iolib.table.Cell at 0x29b29ab30>,
 <statsmodels.iolib.table.Cell at 0x29b29ac80>,
 <statsmodels.iolib.table.Cell at 0x29b298370>,
 <statsmodels.iolib.table.Cell at 0x29b298190>]

In [7]:
import statsmodels.formula.api as smf
import statsmodels.api as sm

mod = smf.ols(formula='committed ~ age + years_in_labour_force + years_of_further_education+ miles_resided_from_coast', data=train)
res = mod.fit()
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:              committed   R-squared:                       0.062
Model:                            OLS   Adj. R-squared:                  0.045
Method:                 Least Squares   F-statistic:                     3.661
Date:                Mon, 10 Jul 2023   Prob (F-statistic):            0.00656
Time:                        16:18:13   Log-Likelihood:                -72.346
No. Observations:                 225   AIC:                             154.7
Df Residuals:                     220   BIC:                             171.8
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================================
                                 coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------
Intercept                     -0.2635      0.145     -1.820      0.070      -0.549       0.022
age                            0.0081      0.004      2.134      0.034       0.001       0.016
years_in_labour_force         -0.0014      0.007     -0.191      0.849      -0.016       0.013
years_of_further_education     0.0210      0.011      1.850      0.066      -0.001       0.043
miles_resided_from_coast      -0.0001      0.001     -0.083      0.934      -0.003       0.003
==============================================================================
Omnibus:                       81.280   Durbin-Watson:                   2.097
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              166.740
Skew:                           1.867   Prob(JB):                     6.21e-37
Kurtosis:                       4.960   Cond. No.                         455.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [19]:
from sklearn.datasets import make_regression

X, y = make_regression(n_samples=100, n_features=2, noise=0)

(array([[ 2.16019058,  0.20095338],
        [-0.33206432,  1.87406346],
        [-0.60921707, -0.45180028],
        [-2.14932853,  0.74697052],
        [-0.14858322, -1.2965334 ],
        [ 0.38581135, -0.43623919],
        [ 0.41785765,  0.35221101],
        [-1.3723581 , -0.76963673],
        [ 0.31401061, -1.16697626],
        [ 0.04337209,  1.49602743],
        [-1.17712507, -1.06932688],
        [ 0.37572559,  1.36065132],
        [ 2.4892918 , -0.61791179],
        [ 0.07284636,  0.38712409],
        [ 0.95531589, -1.09535743],
        [-0.75369362,  1.2633333 ],
        [-0.17404693, -1.34428762],
        [-0.33613065,  2.46112953],
        [-2.52966784,  1.10179574],
        [-1.11138565, -0.02792664],
        [-0.75138623, -0.42606284],
        [-1.0582951 , -0.90242176],
        [ 0.83705298, -0.3215819 ],
        [ 1.14594377,  1.40652157],
        [ 0.41034026,  0.05750589],
        [ 1.17292927, -0.66435129],
        [ 0.74741123,  0.94114842],
        [ 0.54324945,  0.87753025],
        [ 0.81655572,  0.85794223],
        [-0.18246367, -0.53909252],
        [-0.06331324, -0.44185929],
        [ 0.33976642,  0.906922  ],
        [-0.96631007, -0.85912268],
        [-0.39320842,  0.31382714],
        [-1.4636197 ,  0.01939835],
        [ 0.72161092,  0.59630615],
        [ 0.81562843,  0.11457219],
        [ 0.18403516, -1.51799817],
        [-0.81091913,  0.25254596],
        [ 1.56530938, -2.03822403],
        [ 0.1759703 ,  1.26590915],
        [ 0.40149059,  0.1884924 ],
        [ 1.41404852,  0.78145297],
        [-1.32349276, -0.39364997],
        [ 0.07111197, -0.09006359],
        [-1.09884832, -0.74809767],
        [ 0.05848262,  0.42408849],
        [ 1.19330875, -1.33980037],
        [-3.6688803 , -1.31962411],
        [ 0.0318736 , -1.22978308],
        [ 1.01739007,  1.05555189],
        [ 0.2353652 ,  0.42525743],
        [-0.3883421 , -0.35555915],
        [ 0.26932153, -0.96448833],
        [ 1.97625548, -0.65241494],
        [ 0.91697952, -2.68032214],
        [ 0.98304172,  0.44479108],
        [ 1.05169839,  0.35500803],
        [-0.7073366 , -1.17902576],
        [ 0.0146079 ,  0.92040589],
        [ 1.05381782, -0.26133762],
        [ 1.26404558, -1.5157679 ],
        [ 0.15407648, -0.97321155],
        [-0.6258942 , -0.1733051 ],
        [ 1.7670299 , -0.50647537],
        [-1.6125616 ,  0.14520806],
        [ 0.38073688,  0.1653678 ],
        [-0.50449775,  1.78385343],
        [-1.78306121, -0.73544524],
        [-1.16745572,  1.09728715],
        [-0.56096944, -2.8512427 ],
        [-0.07248804,  0.30455481],
        [ 0.78003336, -0.72658884],
        [-0.48960814, -0.75261672],
        [ 1.47121217, -1.47464005],
        [ 0.12287078,  1.26595939],
        [ 0.35374132,  0.59731629],
        [-1.59457219,  0.04027573],
        [-0.19481333,  0.98210064],
        [-0.79737287, -0.80694286],
        [ 0.73685356, -0.55769849],
        [-0.42824029, -0.43751182],
        [ 0.28972752,  0.1415966 ],
        [-0.16260102, -0.76832942],
        [ 0.44503938, -1.34348874],
        [-0.07768408,  0.3656426 ],
        [-0.50359409, -0.01996191],
        [-0.206924  , -1.5102982 ],
        [-0.45160913,  0.15542206],
        [-1.69486244,  0.69373703],
        [ 1.78240981,  0.52913637],
        [ 1.16703622, -0.50996514],
        [ 1.20947608,  1.98842416],
        [-0.00493274,  0.55590405],
        [-0.6446396 ,  0.57329303],
        [ 1.62461225,  0.39312166],
        [-0.30100372,  1.37763702],
        [ 0.55394226,  0.77063654],
        [ 1.41522256, -2.52957367],
        [-0.1682921 ,  0.94610732]]),
 array([ 32.43212562,   4.10967915, -11.03303324, -27.7480393 ,
         -8.35502627,   3.53822948,   7.76955555, -23.66903999,
         -0.99674526,   7.77464111, -22.25547321,  11.97048315,
         33.31728689,   2.90963943,   8.68862952,  -4.94911851,
         -8.95401818,   6.85336363, -31.59525277, -16.32555672,
        -12.98146994, -19.72730863,  10.65997681,  23.41110577,
          6.25297131,  13.91695106,  15.38281643,  12.10455893,
         15.99294483,  -5.2322663 ,  -3.03207908,   9.28026337,
        -18.18041187,  -4.23045277, -21.23144364,  13.36048281,
         12.43023791,  -4.56635261, -10.60883225,  13.07418159,
          8.60782494,   6.74942794,  24.33286065, -21.16196446,
          0.60605289, -19.58132916,   2.87685386,  10.98895755,
        -59.75388727,  -5.40718132,  19.86246176,   5.45950795,
         -7.35551719,  -0.68106608,  25.67792138,   0.56272746,
         16.44596882,  17.01758885, -15.934691  ,   4.60727732,
         14.10574483,  11.17939928,  -2.40176615,  -9.94634253,
         23.32641428, -22.80076324,   6.33665119,   1.1667226 ,
        -29.48949161, -11.77016611, -21.7861565 ,   0.39798009,
          7.89554222, -10.72664151,  14.39405574,   7.83443665,
          8.00566644, -23.03966431,   1.85069525, -15.46996734,
          8.0728002 ,  -8.32809041,   4.89720451,  -6.03736378,
          0.06951196,   0.6139386 ,  -7.43237114, -10.2256297 ,
         -5.83761614, -21.38090279,  28.4949859 ,  14.5682046 ,
         27.11500892,   2.58227931,  -6.65484248,  25.54657226,
          2.19204101,  11.74998604,   8.54157335,   2.06524467]))

In [21]:
import plotly.express as px
fig = px.scatter(X, y,trendline="ols")
fig.show()

NameError: name 'X' is not defined